target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr

/.idea/
/target/

/.settings
/.classpath
/.project

/front-enb/node_modules
/front-enb/build

/src/main/resources/static/*
