.layout-topbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    padding: .7em 1.5em 0;
    z-index: 999;
    right: 0;
    -webkit-transition: left .2s;
    transition: left .2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.link-text {
    text-decoration: none;
}
